# Flutter/Dart související
/build/
.dart_tool/
.packages
.pub-cache/
.pub/
pubspec.lock

# Windows specifické soubory (VS Code a Visual Studio)
.vscode/
.idea/
build/
*.exe
*.dll
*.pdb
*.suo
*.user
*.sln
*.vcxproj
*.filters

# Firebase a Android (pokud bys ho někdy přidal)
.firebase/
firestore.indexes.json
firestore.rules

# Osobní/Lokalní nastavení
.env
*.log